a:hover {
	color: unset;
}

.share-content {
	width: 80%;
	margin-top: 50px;
}
.share-content .caption {
	padding-bottom: 3% !important;
}

.web-link-box {
	border: 1px solid #f3f3f5;
	padding: 36px 59px;
	width: 98%;
}
.web-link-box-caption {
	margin-left: 9px;
	margin-bottom: 26px;
}
.web-link-box-caption span:first-child {
	font-weight: bold;
	line-height: 2.2;
	display: block;
}
.link-container {
	margin-top: 10px;
	width: 100%;
}
.link-container .sv_main.sv_default_css {
	z-index: -1;
	display: inline-block !important;
}
.sv_main.sv_default_css .sv_body {
	border: none !important;
}
.sv_main .sv_container .sv_body .sv_p_root .sv_q_title span:first-child,
.sv_main .sv_container .sv_body .sv_p_root .sv_q_title span:nth-child(1) {
	display: none !important;
}
.sv_main .sv_p_root > .sv_row {
	border: none !important;
}
.sv_main .sv_p_root .sv_row .sv_q.sv_qstn:first-child:last-child {
	padding: 0px !important;
}

.sv_main .sv_container .sv_body .sv_p_root .sv_q .sv_q_other input,
.sv_main .sv_container .sv_body .sv_p_root .sv_q .sv_q_text_root,
.sv_main .sv_container .sv_body .sv_p_root .sv_q .sv_q_dropdown_control,
.sv_main
	.sv_container
	.sv_body
	.sv_p_root
	.sv_q
	input:not([type="button"]):not([type="reset"]):not([type="submit"]):not([type="image"]):not([type="checkbox"]):not([type="radio"]),
.sv_main .sv_container .sv_body .sv_p_root .sv_q select,
.sv_main .sv_container .sv_body .sv_p_root .sv_q textarea {
	position: relative;
	width: 80%;
	border-top: none !important;
	border-left: none !important;
	border-right: none !important;
	border-bottom: 2px solid #ccc !important;
	box-sizing: border-box;
	font-size: 1rem;
	font-weight: bold;
	line-height: 2em;
	margin-top: 2% !important;
	padding: 2% !important;
}
.sv_main .sv_container .sv_body .sv_p_root .sv_q input[type="checkbox"] {
	margin-right: 10px;
	display: inline-block;
	width: 3%;
	height: 30px;
	line-height: 30px;
	border-radius: 5px;
	vertical-align: middle;
	font-size: 1em;
	outline: none;
	margin-top: -0.1em;
}
.sv_qcbx .sv_q_checkbox_control_label {
	border: 1px solid #ccc;
	width: 15% !important;
	display: inline-block;
	padding-left: 1%;
	height: 30px;
	line-height: 30px;
	border-radius: 5px;
}
.lerom-link {
	color: #333;
	padding: 1% 10%;
	margin-left: 0% !important;
	background-color: #f3f3f5;
	border-radius: 20px;
}
.copy {
	background-color: #fd6969;
	padding: 8px 24px;
	margin-left: 2%;
	color: #fff;
	border-radius: 25px;
}
.copy:hover {
	color: #fff;
}

.download {
	border-radius: 25px;
	text-transform: capitalize;
	background-color: transparent !important;
	padding: 10px 23px;
	margin-left: 15% !important;
	outline: none !important;
	font-size: small;
	font-weight: 500;
	color: #555;
	border: 1px solid #bbb;
}
.download img {
	width: 10px;
	height: 12px;
	margin-right: 12px;
}
.download:hover {
	border: 1px solid #000;
}
.box-container {
	display: flex;
}
.socail-box {
	border: 1px solid #f3f3f5;
	width: 32.7%;
	height: 220px;
	padding-right: 16px;
	padding-left: 16px;
	/* margin-top: -2px; */
}

.sv_main .sv_container .sv_body .sv_p_root .sv_q_rating .sv_q_rating_item .sv_q_rating_item_text {
	display: inline-block;
	min-width: 2em;
	margin-left: -1px;
	padding: 1% 2% !important;
	text-align: center;
}
.socail-box-caption p {
	font-size: 14px;
}
.socail-box-caption p:first-child {
	font-weight: bold;
	margin-top: 20px;
}
.socail-box-caption p:last-child {
	font-size: 11px;
	font-weight: 500;
	color: black;
}
.icon-socaol-media-box span {
	background-color: #f3f3f5;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	text-align: center;
	align-items: center;
	padding-top: 0 !important;
	margin-right: 7px;
	cursor: pointer;
	display: inline-block;
	font-size: 15px;
}
.icon-socaol-media-box span:hover {
	background-color: #001d25;
	color: #fff;
	transition: .5s;
}
.Copy-Code {
	padding: 0px 30px;
	background-color: transparent !important;
	border: 1px solid #bbb !important;
	border-radius: 20px;
	color: #555;
	font-weight: 600;
	line-height: 33px;
	text-transform: uppercase;
	font-size: 11px;
	outline: none !important;
}
.Copy-Code:hover {
	border: 1px solid #000 !important;
}
