* {
	box-sizing: border-box;
}
.analyze-link {
	background-color: #fff;
	height: 100vh;
	margin-left: -30px;
}
.analyze-link .active-link {
	border-left: 2px solid #555 !important;
}
.analyze-link .active-link p a {
	color: #555 !important;
}

.analyze-link-box {
	width: 114%;
	border: 1px solid #f3f3f5;
	border-left: unset;
	border-right: unset;
	padding: 5px 15px;
}
.analyze-link-box p a {
	padding-top: 10px;
	color: rgba(0, 0, 0, 0.497);
	display: inline-block;
	font-size: 10px;
	text-transform: capitalize;
	cursor: pointer;
}
