/* .........................................Start Common............................................. */

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	background-color: #fff;
}
:root {
	--main-bg-color: #fd6969;
	--second-color: #3080c5;
	--yellow-color: #fdc769;
	--light-black: #898992;
	--black: #333340;
	--light-gray: rgb(245 245 255);
	--dark-gray: rgb(187 189 196);
	--light-silver: rgb(243 243 245);
}
.clear-fix {
	clear: both;
}
button {
	outline: none !important;
}
.container {
	position: relative;
}
.upper-text {
	text-transform: uppercase;
}
.fl-left {
	float: left;
}
.fl-right {
	float: right;
}
.template-container {
	height: 100vh;
	position: relative;
}
.template-data {
	margin: 2% 0 0 10% !important;
}
/* .........................................End Common............................................. */

/* ......................................... Start Main NavBar............................................. */
.navbar {
	background-color: #fff !important;
	padding: 1% 2%;
}
.home-container .navbar {
	padding: 1% 8% !important;
}
.navbar-brand {
	color: black !important;
	font-size: 23px;
	font-weight: 500;
}
.nav-item .nav-link.active {
	border-bottom: 1px solid var(--main-bg-color);
}
.nav-link {
	color: var(--light-black) !important;
	font-size: 13px;
	font-weight: 400;
	margin-left: 13px;
}
.nav-link:hover {
	color: var(--main-bg-color) !important;
}
.nav-link.active {
	color: var(--main-bg-color) !important;
}
.signUp {
	border: 1px solid var(--main-bg-color);
	border-radius: 30px;
	color: var(--black) !important;
	width: 100%;
	text-align: center;
	outline: none;
	transition: all .5s ease-in-out;
}
.signUp:hover {
	color: #fff !important;
	background-color: var(--main-bg-color);
}

/* .........................................End Main NavBar............................................. */

/* .........................................Start Survey NavBar ............................................. */
.survey-nav {
	padding: 0.5% 1% 0% 1% !important;
}
.survey-nav-brand {
	color: var(--main-bg-color) !important;
	font-weight: 500;
	font-size: 17px;
}
.fa-angle-right:before,
.fa-home::before,
.fa-arrow-down::before,
.survey-satisfy {
	color: var(--light-black) !important;
}
/* .survey-nav-sep, */
.fa-angle-right:before,
.fa-home::before {
	margin-left: 15px;
}
.fa-home::before {
	border-left: 1px solid var(--light-black);
	padding-left: 15px;
}
.survey-satisfy {
	font-size: 10px;
	font-weight: 400;
}

.survey-active.active {
	color: var(--black) !important;
	border: none !important;
}
.survey-build {
	margin-left: 15%;
}
.survey-build-active {
	font-size: 12px;
}
.survey-build-active.active {
	font-weight: 500;
	color: var(--black) !important;
	border-color: var(--black) !important;
}
.survey-build-active:hover {
	color: var(--black) !important;
	font-weight: 500;
}
.survey-right {
	margin-left: 30%;
}

.dropdown-menu {
	position: absolute !important;
	top: 100% !important;
	right: 0 !important;
	left: initial !important;
}

.dropdown-menu li {
	padding-top: 10px;
}
.dropdown-menu li a {
	text-decoration: none !important;
	color: var(--black) !important;
	font-size: 13px;
	font-weight: 500;
	margin-left: 15px;
}
.survey-dropdown-help {
	padding-bottom: 5px;
	border-bottom: 1px solid var(--light-black);
}
.survey-preview {
	margin-right: 15px;
	background: var(--light-gray);
	color: var(--black);
	font-size: 10px;
	font-weight: 500;
}
.dropdown-D {
	margin-right: 5px !important;
	border: 1px solid var(--dark-gray);
	color: var(--dark-gray);
	border-radius: 20px;
	padding: 5px 10px;
	text-decoration: none;
}
.dropdown-toggle::after {
	display: inline-block;
	margin-left: 0.255em;
	vertical-align: 0.255em;
	content: "";
	color: var(--dark-gray);
	border-top: 0.2em solid;
	border-right: 0.2em solid transparent;
	border-bottom: 0;
	border-left: 0.2em solid transparent;
}
.dropdown-D:hover {
	border-bottom: none !important;
}
/* .........................................End Survey NavBar ............................................. */

/* ......................................Start Footer ..................................................... */

.footer {
	position: absolute;
	bottom: 0 !important;
	width: 100%;
}
.footer > .a {
	font-size: 0.875rem;
	color: var(--light-black);
	font-weight: 500;
}
.footer > .a:hover {
	color: black;
	text-decoration: none !important;
}
.footer > p {
	margin-left: 3px;
	margin-right: 3px;
}

/* ...................................End Footer............................................................ */

/* .........................................Start Analyze SideBar ............................................. */
.analyze-sideBar {
	width: 15%;
	float: left;
	height: 100%;
}
.sid-elem {
	text-decoration: none;
	color: var(--light-black);
	font-size: 13px;
}
.analyze-sideBar div {
	padding: 8%;
	border-bottom: 2px solid var(--light-silver) !important;
}

.analyze-sideBar div .sid-elem.active,
.analyze-sideBar div .sid-elem:hover {
	text-decoration: none !important;
	color: black !important;
	font-weight: 500 !important;
}
.analyze-sideBar div:first-child .sid-elem {
	color: var(--black) !important;
}
.analyze-sideBar div:first-child {
	margin-left: 2px;
	border-left: 1px solid var(--black);
	font-weight: 400;
}
/* .........................................End Analyze SideBar............................................. */

/* .........................................Start Home Page ............................................. */
.home-container {
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
}
.home-details {
	padding-top: 5%;
}
.home-data {
	padding: 3% 3% 0 6%;
}
.home-img {
	width: 50%;
	height: 80%;
}
.home-img img {
	width: 100%;
	height: 100%;
}

.bg-p {
	background-color: var(--light-gray);
	padding: 1% 3%;
	margin-bottom: 2%;
	border-radius: 20px;
	width: 70%;
}
.home-new {
	color: #fff;
	background: var(--second-color);
	border-radius: 20px;
	padding: 3px 10px;
	font-size: 11px;
	text-transform: uppercase;
}
.home-choose {
	color: var(--light-black);
	font-size: 13px;
	margin-left: 1%;
	margin-right: 1%;
}
.fa-angle-right:before {
	color: var(--light-black);
	float: left;
}
.home-text {
	color: var(--black);
	font-size: 30px;
	font-weight: 500;
}
.sign-up-for-free {
	background-color: var(--main-bg-color);
	color: #fff;
	border-radius: 20px;
	padding: 6px 14px;
	font-size: 12px;
	border: 1px solid var(--main-bg-color);
	transition: .5s all ease-in;
}
.sign-up-for-free:hover {
	text-decoration: none;
	color: var(--main-bg-color);
	background-color: #fff;
}
.home-sep {
	color: var(--light-black);
	margin: 0px 20px;
	font-size: 20px;
}

.home-free-trial {
	color: var(--light-black);
	font-size: 11px;
}

/* .........................................End Home Page ............................................. */

/* ...........................................Start Survey Creator .....................................*/

#creatorElement {
	height: 100vh;
	position: relative;
}
.header-sidebar-creator {
	position: absolute;
	top: 62px;
	left: 0px;
	z-index: 1000;
	height: 100% !important;
	margin: 0 !important;
	padding: 0 !important;
	padding-left: 5px !important;
	padding-right: 8px !important;
	border-right: 1px solid rgba(0, 0, 0, .1) !important;
	padding-bottom: 0 !important;
}
.svd-designer-container {
	margin-left: 15px !important;
}
.header-sidebar-creator img {
	margin-top: 30px;
	width: 15px !important;
	height: 15px !important;
}
.svd_toolbox_item .svd_toolbox_item_text {
	font-weight: 400;
	line-height: 1.5;
	color: #66727e;
	text-align: left;
	display: inline-block;
	font-size: 10px;
	text-transform: capitalize;
	font-family: normaltext;
}
.svd_container {
	height: 300vh !important;
}
.creator-welcom {
	width: 79% !important;
	position: absolute !important;
	top: 13% !important;
	left: 19% !important;
	z-index: 99 !important;
}
#creatorElement .svd_container .svd_commercial_container {
	display: none !important;
}
#creatorElement .svd_container svd-pages-editor {
	display: none !important;
}
#creatorElement svd-splitter div.svd-splitter {
	display: none !important;
	width: 0px !important;
	padding: 0px !important;
}
.svd_container .svd_content .svd_survey_designer .svd_editors .svd_questions_editor {
	min-height: auto !important;
}
#creatorElement .svd_container .svd_toolbar {
	display: none !important;
}
#creatorElement .svd-designer-container--left-side .svd-icon-container--left-open,
.svd-designer-container--left-side .svd-icon-container--left-close {
	display: none;
}
#creatorElement .svd_container .svd_content .svd_survey_designer .svd_editors .svd_questions_editor {
	padding-top: 0 !important;
}
#creatorElement .svd_survey_designer .svd_editors {
	padding: 5% 2% 0 2% !important;
}
.svd_container .svd_content {
	padding: 0 !important;
}
.svd_container .svd_content .svd_survey_designer {
	position: relative;
}
.svd-designer-container--left-side {
	width: 17.51% !important;
	max-width: 17.51% !important;
	flex-basis: 17.51% !important;
	position: relative !important;
	background-color: #fff;
}
.svd-designer-tabbed-container__tab-header-container div:first-child,
.svd-designer-tabbed-container__tab-header-container div:last-child {
	width: 100% !important;
	outline: none !important;
	font-size: 9px;
	color: black !important;
	margin: 9% 0 0 5%;
}
.svd_container .svd-svg-icon {
	width: 13px !important;
	height: 13px !important;
}
.svd_toolbox_item .svd_toolbox_item_text {
	font-size: 10px;
	color: black;
	font-weight: lighter;
}
.svd-designer-tabbed-container__tab-header-active {
	border-bottom: 2px solid #f3f3f5;
}
.svd-survey-placeholder-root .svd-survey-placeholder .svd-empty-message-container .svd-empty-message {
	color: #b4b4bf !important;
}
.svd-designer-tabbed-container__tab-header:hover {
	color: black;
}
.svd-designer-tabbed-container__tab-header-container div:last-child {
	display: none;
}
.svd_container .svd_toolbox {
	margin: 7% 0 0 10%;
	background-color: #fff;
}
.svd_toolbox_item {
	padding: 3% !important;
	background-color: #f3f3f5;
	outline: none !important;
	margin: 0 11% 6% 0;
}
.svd_container .svd_content .svd-toolbar-dropdown .svd_custom_select .svd-toolbar-dropdown__select {
	outline: none;
}
.svd_container .svd_custom_select:before {
	background-color: rgb(59, 56, 56) !important;
	outline: none;
	right: 1px !important;
	border-radius: 4px !important;
}
.svd_editor_control {
	border-bottom: 1px solid rgb(139, 133, 133) !important;
	border-radius: 0 !important;
	border-top: none !important;
	border-left: none !important;
	border-right: none !important;
	padding: 5px !important;
	align-items: center !important;
	outline: none !important;
}
.svd_container .svd-main-background-color,
.svd_container .svd-light-background-color {
	background-color: rgb(59, 56, 56) !important;
	outline: none !important;
}
.svd_container .svd-main-background-color:hover::after {
	left: 8px;
	top: 5px;
	width: 7px;
	height: 10px;
	border: solid rgb(59, 56, 56);
	outline: none !important;
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
}
.svd_container .svd-main-background-color:hover {
	outline: none !important;
	background-color: #fff !important;
}
.svd_container a,
.svd_container .svd-main-color {
	color: rgb(59, 56, 56);
}
.form-control.svd-control.svd-focusable,
input.form-control .svd-accordion-tab-header,
.svd-dark-border-color {
	outline: none !important;
}
select {
	height: 34px !important;
	font-size: 12px !important;
	line-height: 20px !important;
}
.svd_object_editor span {
	font-size: 12px;
}
.btn-secondary,
.btn,
.sv-btn,
.btn-primary,
.svd-logic-button,
.btn-danger,
.svd-logic-add-condition-button,
.svd-focusable {
	outline: none !important;
	font-size: 10px !important;
	padding: 5px !important;
	width: auto;
}
.sjs-cb-switch input:checked + .sjs-cb-switch_control {
	background-color: #71e6c6;
	border-color: #71e6c6;
}
.sjs-cb-switch input:checked + .sjs-cb-switch_control .sjs-cb-switch__button {
	background-color: #f4f4f4;
	border-color: #71e6c6;
	right: 0;
}
table.svd_items_table thead,
table.svd_items_table tbody tr td:first-child,
table.svd_items_table tbody tr td:first-child .svd-drag-handle {
	font-size: 8px !important;
}
table.svd_items_table tbody tr td:first-child .svd-drag-handle svg.svd-svg-icon,
table.svd_items_table tbody tr td:first-child .svd-itemvalue-action svg.svd-svg-icon,
table.svd_items_table tbody tr td.svd-textitems-column svg.svd-svg-icon {
	width: 13px !important;
	height: 13px !important;
}
.sv_main .sv_container {
	background-color: #fff !important;
}
.card-header:first-child {
	border: none !important;
	border-radius: 0px !important;
}
.svd_container a:focus,
.svd_container div:focus,
.svd_container span:focus,
.svd_container select:focus,
.svd_container tr:focus,
.svd_container input[type="checkbox"]:focus + span.checkmark {
	outline: none !important;
}
.svd_container .svd-primary-icon .svd-svg-icon {
	fill: #b4b4bf;
}
.sv_main .sv_logo img {
	width: 150px;
	height: 100px;
}
h4.title_editable {
	padding-bottom: 1%;
}
.svd_page > .description_editable {
	margin-bottom: 7%;
}
.svda-question-actions select.svda_current_type {
	border: none;
	outline: none;
	cursor: pointer;
	background: #e0e0e0;
	color: rgb(78, 74, 74);
	font-size: 10px !important;
	align-items: center;
	text-align: center;
	height: 35px !important;
	line-height: 19px !important;
}
.svda_question_action .svda_current_type {
	height: 30px !important;
	width: 165px !important;
	align-items: center;
	text-align: center;
	padding: 4px;
	border: none !important;
	font-size: 10px !important;
}
.svda-question-actions select.svda_current_type option {
	background: #e0e0e0;
	color: rgb(78, 74, 74);
}
.sv_technical,
.svda-add-new-item,
span.svda_current_type,
span.svd-main-color .svda-add-custom-item {
	color: #b4b4bf !important;
}
.svda-select-items-editor .svda-select-items-title .svd-main-color,
.svda_question_action--separated span:nth-child(2) {
	color: #b4b4bf;
	font-weight: bold;
	font-size: small;
}
.sv_row div div:nth-child(2) div.btn-group label {
	background-color: black;
	color: #fff;
	margin-right: 10px;
}
.sv-boolean__switch {
	background-color: #71e6c6 !important;
}
.panel-body.card-block.mt-4 {
	background-color: #f3f3f5;
}
.svd_container .svd_content .svd_survey_designer .svd_editors .svd_questions_editor .panel-body .svd_question,
.svd_container .svd_content .svd_survey_designer .svd_editors .svd_questions_editor .card-block .svd_question {
	background-color: #fff;
	padding: 20px;
}
ul.editor-tabs.svd-tabs {
	display: none;
}
ul.editor-tabs li .svd-tab-text {
	position: absolute;
	z-index: 10000;
	color: #66727e !important;
	display: none;
}
ul.editor-tabs li:first-child .svd-tab-text {
	top: -3%;
	left: 48%;
}
ul.editor-tabs li:last-child .svd-tab-text {
	top: -3%;
	right: 36%;
}
ul.editor-tabs li .svd-tab-text:hover {
	color: #000 !important;
}
ul.editor-tabs li.active .svd-tab-text {
	border-bottom: 2px solid red !important;
}
.survey-hr {
	padding: 0 !important;
	margin: 0 !important;
}
/* .....................................End Survey Creator ................................................ */

/* .....................................Satart Analyze Status Page ................................................ */
.analyze-status,
.survey-share {
	height: 100vh;
}
.analyze-status-body {
	width: 85%;
	height: 100%;
	padding: 2% 10%;
	background-color: var(--light-silver);
	float: right;
}
.analyze-status-text,
.analyze-status-keys,
.analyze-status-second-table {
	margin-bottom: 4% !important;
}
.analyze-status-keys {
	background-color: #fff;
	padding: 2%;
	padding-bottom: 0 !important;
}
.analyze-status-text span,
.analyze-status-keys p,
.analyze-status-keys .table,
.analyze-status-second-table .table thead th {
	font-size: 12px;
	color: var(--black);
	font-weight: 500;
}
.analyze-status-keys .table thead th,
.analyze-status-keys .table td,
.analyze-status-second-table .table thead th {
	border: none !important;
}
.analyze-status-keys .table td {
	font-size: 20px !important;
}
.analyze-status-keys .table thead th,
.analyze-status-second-table .table thead th {
	color: var(--light-black) !important;
	font-weight: 400 !important;
	text-transform: uppercase !important;
	font-size: 10px !important;
	padding: 0 !important;
}
.analyze-status-second-table .table thead th {
	padding: 1% !important;
}
.analyze-status-second-table .table tbody td {
	background-color: #fff;
	border-color: var(--light-gray) !important;
	font-size: 12px;
	font-weight: bold;
}

.analyze-btn {
	display: inline-block;
	float: right;
	font-size: 10px !important;
}
/* .....................................End  Analyze Status Page................................................ */
/* .....................................Start Survey Share Page................................................ */

.share-content {
	height: 65vh;
	color: var(--black) !important;
	padding: 3% 20%;
}
.share-content .share-ques {
	padding: 0;
	margin: 0;
	font-size: 18px;
	font-weight: 500;
	padding-bottom: 5%;
}
.share-ways {
	border: 1px solid var(--light-silver);
	height: 100%;
}
.web-share {
	padding: 3%;
}
.share-main-p {
	font-size: 12px;
	font-weight: bold;
	padding-bottom: 1% !important;
	margin: 0 !important;
}
.share-second-p {
	font-size: 10px;
	font-weight: 500;
	padding-bottom: 1% !important;
	margin-top: 10px;
}
.web-share .share-generatedText {
	background-color: var(--light-silver);
	padding: 5px 10px;
	width: 60%;
	display: inline-block;
	border-radius: 20px;
}
.web-share span {
	font-size: 10px;
	color: black !important;
	font-weight: 500;
}
.copy-btn {
	margin: 0 4%;
	padding: 10px 20px !important;
}
.fa-arrow-down::before {
	margin-right: 10px;
}
.other-share-ways {
	border-top: 1px solid var(--light-silver);
	width: 100%;
	height: 85%;
}

.social-media-share,
.web-page-share,
.add-profile-share {
	width: 33%;
	float: left;
	padding: 2%;
}
.social-media-share,
.web-page-share {
	border-right: 1px solid var(--light-silver) !important;
}
.share-btn {
	background-color: #fff;
	color: black !important;
	border-radius: 20px;
	border: 1px solid var(--light-silver);
	padding: 8px 20px !important;
	font-size: 12px;
	font-weight: 500 !important;
}
.social-media-box span {
	font-size: 10px !important;
	padding: 8px 12px;
	margin-left: 5px;
	background-color: var(--light-silver);
	border-radius: 50%;
}
/* .....................................End Survey Share Page............................................... */

/* .......................................Start Privacy Page ..............................................*/
.privacy {
	padding: 3% 0 4% 0 !important;
	width: 100%;
	position: relative;
}
.privacy h1 {
	font-size: 2rem;
	font-weight: 600;
	margin: 0 !important;
	color: var(--black);
}
.privacy-updates {
	font-size: 13px;
	font-weight: 400;
	color: var(--dark-gray);
	padding: 1% 0 2% 0 !important;
	margin: 0 !important;
}
.privacy-hr {
	width: 5%;
	background-color: var(--main-bg-color) !important;
	margin: 0 0 2% 0 !important;
	padding: 1px;
}
.privacy-text {
	font: 18px;
	font-weight: 500;
	color: var(--black);
	padding: 1% 6% 1% 0 !important;
	margin: 0 !important;
	text-align: start;
}
.privacy-bolder-text {
	font-weight: 700 !important;
}
/* ......................................................End Privacy Page..................................... */
/* ......................................................Start Solutions Page..................................... */

.solutions-container {
	padding: 3% 5% !important;
}
.solutions-container,
.how-it-works {
	position: relative;
	width: 100%;
}
.how-it-works {
	padding: 3% 0 !important;
}
.solution-box,
.how-it-works__item {
	width: 100%;
}
.solution-box-data {
	padding: 2% !important;
}
.solution-box-data {
	width: 75%;
}
.how-it-works__item__image {
	width: 65%;
}
.how-it-works__item__image {
	padding: 2% 0 !important;
}
.how-it-works__item__desc h1,
.solution-box-data h4,
.contactUs-form-container h3 {
	color: var(--black);
	padding: 0 0 0 1% !important;
	font-weight: 500;
}
.how-it-works__item__desc p,
.solution-box-data p {
	font-size: 22px;
	color: var(--black);
	font-weight: 400;
	margin: 0 0 4% !important;
	padding: 0 !important;
}

.how-it-works__item__desc h1 {
	margin-top: 40% !important;
}
.how-it-works__item__desc h1,
.how-it-works__item__desc p {
	font-weight: 400 !important;
	margin-left: 2% !important;
	margin-right: 4% !important;
}
.solution-box-img {
	width: 25%;
}
.solution-box-img,
.how-it-works__item__desc {
	align-items: center !important;
	padding: 2% !important;
}

.how-it-works__item__desc {
	width: 35%;
}
.solution-box-img img {
	box-shadow: 0 59px 99px rgb(0 0 0 / 16%);
	border-radius: 50%;
	border: white;
	width: 70%;
	vertical-align: middle !important;
}
.how-it-works__item__image img {
	width: 100%;
	box-shadow: 0 59px 99px rgb(0 0 0 / 16%);
	border-radius: 3%;
	border: white;
}
/* ......................................................End Solutions Page..................................... */
/* ......................................................Start ContactUs Page..................................... */
.contactUs-container {
	position: relative;
	width: 100%;
	padding: 2% 0 5% 0 !important;
}
.contactUs-form-container {
	width: 50%;
	position: absolute;
	top: 10%;
	left: 12%;
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 20px;
	box-shadow: 0 59px 99px rgb(0 0 0 / 8%);
	padding: 4rem 3rem 4rem 3rem;
	z-index: 3;
}
.contactUs-form-container h3 {
	margin-left: 30%;
	padding-bottom: 5% !important;
}
.contactUs-form-container form label {
	padding-bottom: 1% !important;
}
.contact-input {
	max-width: 100% !important;
}
.contact-input input {
	padding: 25px 10px !important;
}
.contact-input input:focus {
	outline: none !important;
}
.contact-input input,
.contact-input textarea {
	border: 1px solid var(--light-black);
	border-radius: 5px !important;
}
.contactUs-form-container form {
	font-size: 15px !important;
	font-weight: 500 !important;
	color: var(--black) !important;
}
.contact-button {
	outline: none;
	background-color: var(--main-bg-color);
	color: #fff;
	border: 2px solid var(--main-bg-color);
	font-weight: 500;
	text-align: center;
	text-decoration: none !important;
	transition: .5s all ease-in-out;
}
.contact-button:hover {
	text-decoration: none;
	background-color: #fff;
	color: var(--main-bg-color);
}
.contactUs-img {
	width: 50%;
	border: 1px solid #fff;
	border-radius: 20px;
}
.contactUs-img img {
	width: 90%;
	height: 90%;
}
.contactUs-icons {
	padding: 3% 0% 3% 10% !important;
}
.contactUs-icons p {
	font-size: 30px;
	font-weight: 400;
	color: var(--light-black);
	padding: 0 0 2% 0 !important;
	margin: 0 !important;
}
.contactUs-icons img {
	margin-right: 1% !important;
	background-color: var(--light-silver);
	border: 1px solid var(--light-silver);
	border-radius: 50%;
	padding: 2%;
}
/* ......................................................End ContactUs Page..................................... */
/* ......................................................Start Profile Page..................................... */
.profile-container {
	position: relative;
	padding: 0 3% 5% !important;
	height: 100vh;
}
.profile-sep {
	border-left: 1px solid var(--dark-gray);
}
.profile-navlinks-container span:first-child {
	margin: 0px 21px 0 0 !important;
	padding: 10px 0 !important;
}
.profile-navlinks-container span:last-child {
	margin: 0 25px 0 0 !important;
}
.fa-search:before {
	content: "\f002";
	color: var(--dark-gray);
	font-size: 18px;
	font-weight: 500;
	margin: 0 10px 0 0 !important;
}
input.profile-search-input {
	border: none !important;
	outline: none !important;
	font-size: 13px;
	font-weight: 400;
	color: var(--light-black);
}
::-webkit-input-placeholder {
	color: var(--dark-gray);
	font-size: 14px;
	font-weight: 600;
}

:-ms-input-placeholder {
	color: var(--dark-gray);
	font-size: 14px;
	font-weight: 500;
}

::placeholder {
	color: var(--dark-gray);
	font-size: 14px;
	font-weight: 500;
}
/* ......................................................End Profile Page..................................... */
