* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--main-bg-color: #fd6969;
	--second-color: #3080c5;
	--yellow-color: #fdc769;
	--light-black: #333340;
	--light-gray: rgb(158 158 165);
}
.navbar {
	background-color: #fff !important;
}
.navbar-nav {
	margin-right: 10%;
}
.navbar-brand {
	color: var(--light-black) !important;
}
.nav-item .nav-link.active {
	border-bottom: 1px solid var(--main-bg-color);
}
.nav-link {
	color: var(--light-gray) !important;
	font-size: 13px;
	font-weight: 400;
	margin-left: 13px;
}
.nav-link:hover {
	color: var(--main-bg-color) !important;
}
.nav-link.active {
	color: var(--main-bg-color) !important;
}
.signUp {
	border: 1px solid var(--main-bg-color);
	border-radius: 30px;
	color: var(--light-black) !important;
	width: 100%;
	text-align: center;
	margin-right: 10px !important;
	outline: none;
	transition: all .5s ease-in-out;
}
.signUp:hover {
	color: #fff !important;
	background-color: var(--main-bg-color);
}
